<!DOCTYPE html>

<head>
	<title>Web Tools</title>
	<link type='text/css' rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css'>
	<link type='text/css' rel='stylesheet' href='/assets/style.css'>
</head>

<body ng-app='webtools'>
	<div class='container-fluid' ng-cloak>
	
		<div class='navigation'>
			<div class='row'>
				<div class='col-md-12'>
					<flash-panel></flash-panel>
				</div>
			</div>
		</div>

		<div class='main' ng-controller='FoodEntryCtrl'>
			<div class='row'>

				<!-- Picture table -->
				<div class='col-md-2'>
					<div class='panel panel-default'>
						<div class='panel-heading' style='cursor: pointer' ng-mouseleave='showInfo = false' ng-mouseenter='showInfo = true'>Food Diary Entries - Total: {{totalEntryCount}}</div>
						<div class='panel-body' ng-if='showInfo'>
							Press more button to load more entries.
							Select a picture to edit diary entry.
						</div>
						<table class='table table-bordered header-fixed' align='center'>

							<thead style='background-color:white;'>
								<tr>
									<th>Pictures</th>
								</tr>
							</thead>

							<tbody>
								<tr ng-repeat='entry in entries track by $index' 
										ng-click='selectEntry(entry, $index)' 
										ng-class='{ selected : isSelected(entry)}'>
									<td>
										<img class='thumbnail' ng-src={{entry.get('imageFile').url}} width='150'>
									</td>
								</tr>
							</tbody>

						</table>
						<div class='panel-footer more' ng-click='more()'>
							More <span class='glyphicon glyphicon-refresh' aria-hidden='true'></span>
						</div>
					</div>
				</div>

				<!-- Food Entry Panel -->
				<div class='col-md-10'>
					<div class='panel panel-default' ng-if='selectedEntry != null'>

						<div class='panel-heading title'>
							<div class='row'>

								<div class='col-md-5'>
									<h5>Meal Name: {{selectedEntry.get('mealName')}}</h5>
								</div>

								<div class='col-md-2 col-md-offset-5'>
									<h5>Created at: {{selectedEntry.createdAt | date:'MMM d, yyyy' }}</h5>
								</div>

							</div>

						</div>

						<div class='panel-body'>
							<div class='row'>
								<div class='col-md-6'>

									<div class='thumbnail' 
											 style='width:710px;' 
											 uib-popover="Double Click to expand / colapse picture. Click and drag to position vertically." popover-trigger="mouseenter"
											 popover-placement='right'
											 >
										<div class='frame' frame-expand style='cursor:pointer'>
											<img image-adjust ng-src={{selectedEntry.get('imageFile').url}} width='700'></img>
										</div>

									</div>

									<div class='controls'>
										<span ng-click='prev()' class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
										<span ng-click='next()'class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									</div>

								</div>

								<div class='col-md-6'>

									<!-- Tags -->
									<div class='row'>
										<div class='col-md-1'>
											<h3>Tags</h3>
										</div>

										<div class='col-md-11 tags'>
											<span ng-repeat='tag in foodTags' class='label label-default'>
												{{tag.get('foodDiaryTag')}}
											</span>
										</div>

									</div>

									<!-- Location -->
									<div class='row'>
										<div class='col-md-2'>
											<h3>Location</h3>
										</div>
										<div class='col-md-10 location'>
											<address>
												<strong>{{selectedEntry.get('locationName')}}</strong>
												{{selectedEntry.get('address')}}
											</address>
										</div>
									</div>

									<!-- Ingredients Header -->
									<div class='row'>
										<div class='col-md-2'>
											<h3>Ingredients</h3>
										</div>
									</div>

									<!-- Ingredients Info -->
									<div class='row'>
										<div class='col-md-12'>
											<div class='panel panel-default'>

												<table class='table table-bordered' 
															 ng-if='detailsLength() > 0'
															 uib-popover="Click quantity to update" popover-trigger="mouseenter"
											 				 popover-placement='top'
											 	>
													<tbody>
														<tr ng-repeat='(key, detail) in foodDetails'>
															<td>{{detail['ingredient'].get('ingredientName')}}</td>
															<td>
																<update value="detail['servings']" key='{{key}}'></update>
															</td>
															<td>{{detail['ingredient'].get('unitOfMeasurement')}}</td>
															<td><button class='btn btn-success btn-xs' ng-click='saveIngredient(detail)'>save</button></td>
															<td>
																<wt-popover></wt-popover>
															</td>
														</tr>
													</tbody>
												</table>

												<div class='panel-footer more' ng-click='attachIngredients()'>
													Add <span class='glyphicon glyphicon-plus' aria-hidden='true'></span>
												</div>
											</div>

										</div>
									</div>

									<!-- Nutritional Info -->
									<div class='row'>
										<div class='col-md-5'>
											<h3>Nutrition Facts</h3>
											<div class='panel panel-default'>
												<div class='panel-body nutrition'>

													<div ng-repeat='fact in nutritionFacts'>

														<div class='row'>
															<div ng-class='[{ "col-md-11 col-md-offset-1" : fact.size == "medium"}, {"col-md-12" : fact.size == "large"}]'>
																<h4><em>{{fact.name}}</em><h4><span>{{fact.amount | number:0}}{{fact.unit}}</span>
															</div>
														</div>

													</div>

												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class='footer'>

		</div>

	</div>

	<script type='text/javascript' src='/bower_components/angular/angular.js'></script>
	<script type='text/javascript' src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.0.js"></script>
	<script type='text/javascript' src='/bower_components/angular-local-storage/dist/angular-local-storage.min.js'></script>
	<script type='text/javascript' src='http://www.parsecdn.com/js/parse-1.0.19.min.js'></script>
	<script type='text/javascript' src='/bower_components/measurement.js/measurement.js'></script>
	<script type='text/google_maps_key'></script>

	<script type='text/javascript' src='/assets/app/constants.js'></script>

	<script type='text/javascript' src='/assets/app/services/service.js'></script>
	<script type='text/javascript' src='/assets/app/services/geocode.service.js'></script>
	<script type='text/javascript' src='/assets/app/services/flash.service.js'></script>
	<script type='text/javascript' src='/assets/app/services/loaded.service.js'></script>

	<script type='text/javascript' src='/assets/app/directives/directives.js'></script>
	<script type='text/javascript' src='/assets/app/directives/flash-panel.directive.js'></script>
	<script type='text/javascript' src='/assets/app/directives/image-adjust.directive.js'></script>
	<script type='text/javascript' src='/assets/app/directives/frame-expand.directive.js'></script>
	<script type='text/javascript' src='/assets/app/directives/script.directive.js'></script>
	<script type='text/javascript' src='/assets/app/directives/update.directive.js'></script>
	<script type='text/javascript' src='/assets/app/directives/popover.directive.js'></script>

	<script type='text/javascript' src='/assets/app/models/models.js'></script>
	<script type='text/javascript' src='/assets/app/models/food-entry.model.js'></script>
	<script type='text/javascript' src='/assets/app/models/food-tag.model.js'></script>
	<script type='text/javascript' src='/assets/app/models/food-detail.model.js'></script>
	<script type='text/javascript' src='/assets/app/models/ingredient.model.js'></script>

	<script type='text/javascript' src='/assets/app/controllers/controllers.js'></script>
	<script type='text/javascript' src='/assets/app/controllers/food-entry.controller.js'></script>
	<script type='text/javascript' src='/assets/app/controllers/attach-ingredients.controller.js'></script>

	<script type='text/javascript' src='/assets/app/main.js'></script>
	<script type='text/javascript' src='/assets/credentials.js'></script>

</body>
