html, body {
	height: 100%;
}

body {
	background-image: url('img/crossword.png');
	background-repeat: both;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.header-fixed {
	width: 100%;
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

table tbody {
	height: 830px;
	overflow: scroll;
}

table tbody tr:nth-child(odd) {
	background-color: white;
}

table tbody tr:nth-child(even) {
	background-color: rgb(247, 247, 249);
}

table tbody tr:hover {
	background-color: #3498DB;
	cursor: pointer;
}

table td {
	padding: 15px !important;
}

.selected {
	background-color: #3498DB !important;
}

.navigation {
	margin-top: 30px;
}

.main {
	margin-left: 50px;
	margin-right: 50px;
}

.navigation {
	margin-left: 50px;
	margin-right: 50px;
}


.thumbnail {
	margin-bottom: 0px;
}

.frame {
	width: 700px;
	height: 525px;
	overflow: hidden;
}

.frame img {
	top: 0px;
	position: relative;
}

.controls {
	margin-top: 20px;
	width: 710px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.controls span:hover {
	cursor: pointer;
	color: #3498DB;
}

.glyphicon-chevron-left {
	font-size: 50px;
}

.glyphicon-chevron-right {
	font-size: 50px;
	float: right;
}

.more {
	text-align: center;
	font-size: 24px;
	cursor: pointer;
}

.title h5 {
	height: 15px;
}

.more:hover {
	background-color: #ECF0F1;
	color: #3498DB;
}

.tags, .location {
	margin-top: 25px;
}

.tags span {
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.location h5 {
	margin-top: 2px;
}

.attach-modal {
	margin-top: 100px;
}

.list-group-display {
	height: 500px;
	overflow: scroll;
}

.sort {
	font-size: 18px;
	margin-top: 3px;
	color: #555;
}

.sort span {
	margin-left: 5px;
	vertical-align: -3px;
}

.nutrition div div div {
	border-bottom: 1.5px solid #eee;
}

.nutrition h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.nutrition hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

.nutrition h4 {
	font-size: 20px;
	display: inline-block;
	font-weight: 700;
}

.nutrition span {
	margin-left: 10px;
	font-weight: 300;
}

.nutrition .shift {
	margin-left: 20px;
	padding-right: 0px;
}