html, body {
	height: 100%;
}

body {
	background-image: url('img/crossword.png');
	background-repeat: both;
}

.header-fixed {
	width: 100%;
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

table tbody {
	height: 900px;
	overflow: scroll;
}

table tbody tr:nth-child(odd) {
	background-color: white;
}

table tbody tr:nth-child(even) {
	background-color: rgb(247, 247, 249);
}

table tbody tr:hover {
	background-color: #3498DB;
	cursor: pointer;
}

table td {
	padding: 15px !important;
}

table tbody .selected {
	background-color: #2980B9 !important;
}

.main {
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
}


.thumbnail {
	margin-bottom: 0px;
}